* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(30, 2, 52); */
  background-image: linear-gradient(to right, rgb(33, 2, 76), rgb(4, 47, 177));
  color: white;
  padding: 10px 0;
}

.logo {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Playwrite AU QLD", cursive;
}

nav ul {
  display: flex;
  gap: 17px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(189, 184, 237);
  text-decoration: none;
  transition: all 0.5s;
}

.hero {
  background-image: linear-gradient(
    to right,
    rgb(151, 232, 162),
    rgb(159, 115, 248)
  );
  height: 85vh;
  display: flex;
  justify-content: center;
  gap: 130px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-left .one {
  font-size: 60px;
  color: rgb(33, 2, 76);
  font-weight: bolder;
}

.hero-left .two {
  font-size: 40px;
}

.bold {
  font-weight: bold;
}

.hero-right img {
  border-radius: 14px;
}

.button-container {
  padding: 9px 0;
}

.btn {
  background-color: rgb(59, 8, 132);
  color: white;
  padding: 7px 9px;
  margin: 0 2px;
  border: 2px solid purple;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bolder;
  transition: all 0.5s;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(59, 54, 200);
}

.project {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  border-top: 2px solid rgb(136 165 246 / 25%);
  padding: 22px 100px;
  background-image: linear-gradient(
    to right,
    rgb(191, 191, 239),
    rgb(173, 233, 194)
  );
}

.project-image img {
  width: 29.5vw;
  margin: 35px;
  border-radius: 20px;
}

.project-info {
  display: flex;
  flex-direction: column;
  padding: 42px;
}

.project-info .text {
  font-size: 27px;
  padding: 10px 0;
  font-weight: bold;
}

.project-info p {
  padding: 12px 0;
}

.row-reverse {
  flex-direction: row-reverse;
}

footer {
  background-color: rgb(19, 2, 44);
  padding: 20px;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 950px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .hero {
    flex-direction: column-reverse;
    gap: 12px;
  }

  .hero-left {
    align-items: center;
  }

  .project {
    padding: 1px;
  }
}

@media screen and (max-width: 650px) {
  .hero-left .one {
    font-size: 40px;
    text-align: center;
  }

  .hero-left .two {
    font-size: 30px;
    text-align: center;
  }

  .project {
    flex-direction: column;
  }

  .project-image img {
    width: 80vw;
    margin: 15px 35px;
  }

  .project-info {
    padding: 15px 23px;
  }
}
